html {
	font-size: 10px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body, button {
	font-family: 'Open Sans Condensed';
}

p, a, span {
	color: #767c7e;
}

a {
	text-decoration: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	font-style: italic;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	font-style: italic;
}

button:hover {
	cursor: pointer;
}

.main-content {
	height: auto;
	min-height: 100%;
}

.header {
	height: 80px;
	background: #202628;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

.wrapper {
	position: relative;
	height: 100%;
	width: 1170px;
	margin: 0 auto;
}

.header__logo, .promo-block__text a, .link, .comment a, .ico, .address article a, .footer__menu a, .copyright a {
	-webkit-transition: color 1s;
	-o-transition: color 1s;
	transition: color 1s;
}

.header__logo {
	font-size: 2.5em;
	color: #e7e7e7;
	text-transform: uppercase;
	line-height: 80px;
}

.header__menu {
	font-size: 0;
	height: 100%;
	float: right;
}

.clearfix::after {
	content:" ";
	display: block;
	visibility: hidden;
	clear: both;
}

.header__menu a, .promo-block__arrow, .news-block__list .ico, .button-more, .feedback-submit, .social-icons a, .quote .ico, .subscribe form .submit {
	-webkit-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s;	
}

.header__menu a {
	display: inline-block;
	padding: 0 20px;
	height: 100%;
	color: #ffffff;
	font-size:  2rem;
	line-height: 80px;
	text-transform: uppercase;
}

.header__menu a:hover, 
.header__menu a.active {
	background: #e84c3d;
}

.main {
	padding: 80px 0 204px;
}

.promo-block {
	height: 560px;
	background: url(img/layout.jpg);
	background-size: cover;
}

.promo-block__arrow {
	position: absolute;
	top: 290px;
	display: inline-block;
	width: 35px;
	height: 70px;
	background: #e84c3d;
	cursor: pointer;
	text-align: center;
	line-height: 70px;
}

.promo-block__arrow:hover {
	background: #bc1221;
}

.promo-block__text {
	position: absolute;
	top: 390px;
}

.promo-block__text p {
	font-size: 3rem;
	color: #e7e7e7;
	margin: 0;
	text-transform: uppercase;
	position: relative;
	font-weight: bold;
}

.promo-block__text p:first-child::after{
	content: "";
	display: block;
	width: 185px;
	border: 1px solid #e7e7e7;
	position: absolute;
	top: 50%;
	left: 150px;
}

.promo-block__text a {
	font-size: 1.5rem;
	margin: 0;
}

.promo-block__text a, .link, .comment a {
	color: #e84c3d;
}

.header__logo:hover, .promo-block__text a:hover, .link:hover, .comment a:hover {
	color: #bc1221;
}

.left_arrow {
	left: 0;
	border-radius: 35px 0 0 35px;
}

.right_arrow {
	left: 36px;
	border-radius: 0 35px 35px 0;
}

.promo-block__arrow::before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	position: absolute;
	top: 30px;
}

.left_arrow::before {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	left: 16px;
}

.right_arrow::before {
	border-top: 2px solid black;
	border-left: 2px solid black;
	right: 16px;
}

.news-block {
	background: #e7e7e7;
	padding: 80px 0;
}

.news-block__list {
	list-style: none;
	padding: 0;
}

.news-block__list li{
	width: 33.333333333%;
	float: left;
	overflow: hidden;
}

.ico {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	color: #e7e7e7;
	float: left;
	font-size: 3rem;
	line-height: 70px;
	position: relative;
}

.news-block__list .ico {
	background: #e84c3d;
}

.news-block__list .ico:hover {
	cursor: pointer;
	background: #bc1221;
}

.ico i, .social-icons i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.news-block__list .news-block__text {
	float: right;
	width: 70%;
	padding-right: 20px;
}

.news-block__list .news-block__text h3 {
	font-size: 2em;
	color: #202628;
	margin: 0 0 30px;
}

.news-block__list .news-block__text p {
	font-size: 1.4rem;
	margin: 0;
}

.news-block__list .news-block__text a {
	color: #e84c3d;
	font-weight: bold;
}

.section-block {
	background: #fff;
	margin: 80px 0;
}

.section-block h3, .articles {
	float: left;
}

.section-block h3, .articles h5 {
	margin: 0 0 30px;
	width: 770px;
}
.section-block h3 {
	color: #202628;
	font-size: 2rem;
	text-transform: uppercase;
}

.articles h5 {
	border-style: solid;
	border-color: #e7e7e7;
	border-width: 1px 0;
	font-size: 1.6rem;
	color: #e84c3d;
	padding: 10px 0;
}

.articles h6 {
	margin: 0 0 15px 0;
	color: #202628;
}

.articles article {
	width: 370px;
	padding-right: 30px;
	float: left;
}

.articles article h6, .articles article p {
	font-size: 1.4rem;
}

.preview {
	width: 354px;
	height: 354px;
	border-radius: 50%;
	float: right;
}

.button-more {
	width: 70px;
	height: 38px;
	border-radius: 20px;
	border-style: solid;
	border-color: #e84c3d;
	border-width: 0 2px 2px 0;
	cursor: pointer;
	color: #e7e7e7;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 20px;
}

.button-more, .feedback-submit, .social-icons a {
	background: #e84c3d;
}

.button-more:hover, .feedback-submit:hover, .social-icons a:hover {
	background: #bc1221;
}

.button-more:active {
	border-width: 2px 0 0 2px;
}

.subscribe {
	background-color: #fff;
	margin-bottom: 30px;
	color: #fff;
}

.subscribe .wrapper {
	background: #e84c3d;
	height: 90px;
	border-radius: 10px;
	padding: 45px 30px;
}

.subscribe h3 {
	font-size: 2rem;
	text-transform: uppercase;
	margin-top: 0;
}

.subscribe p {
	font-size: 1.4rem;
	color: #e7e7e7;
}

.quote, .subsctibe form {
	width: 570px;
	float: left;
}

.quote {
	margin-right: 30px;
}

.quote .ico{
	margin-right: 30px;
	float: left;
}

.quote .ico, .subscribe form .submit{
	background: #202628;
}

.quote .ico:hover, .subscribe form .submit:hover{
	background: #000;
	cursor: pointer;
}

.subscribe form .input-email{
	width: 340px;
	height: 16px;
	border-radius: 20px;
	padding: 15px 20px;
	border: none;
}

.subscribe form .submit{
	width: 120px;
	height: 45px;
	color: #e7e7e7;
	border-radius: 20px;
	padding: 10px 20px;
	margin-left: 10px;
	border-style: solid;
	border-color: #202628;
	border-width: 2px 0 0 2px;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
}

.subscribe form .submit:active {
	border-width: 0 2px 2px 0;
}

.information-block {
	background-color: #fff;
	margin-bottom: 30px;
}

.commentaries, .feedback, .address{
	width: 370px;
	float: left;
}

.commentaries, .feedback{
	margin-right: 30px;
}

.information-block h3{
	color: #202628;
	font-size: 2rem;
	text-transform: uppercase;
	margin: 0 0 30px;
}

.comment {
	border-top: 1px solid #e7e7e7;
	padding: 30px 0;
}

.comment:last-child {
	border-bottom: 1px solid #e7e7e7;
}

.comment img {
	width: 70px;
	height: 70px;
	margin-right: 30px;
	border-radius: 50%;
	float: left;
}

.comment p, .comment a {
	font-size: 1.4rem;
	margin-top: 0;
}

.comment a {
	color: #e84c3d;
	font-weight: bold;
}

.feedback form{
	background: #e7e7e7;
	padding: 30px;
}

.feedback form p{
	font-size: 1.4rem;
	margin-top: 0;
}

.feedback form input, .feedback form textarea {
	width: 280px;
	border-radius: 20px;
	border: none;
	margin-bottom: 20px;
	padding: 15px;
}

.feedback-query {
	resize: none;
}

.feedback-submit{
	width: 100px;
	height: 40px;
	color: #e7e7e7;
	border-radius: 20px;
	padding: 10px 20px;
	margin-left: 10px;
	border-style: solid;
	border-color: #e84c3d;
	border-width: 2px 0 0 2px;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
}

.feedback-submit:active {
	border-width: 0 2px 2px 0;
}

.address {
	font-style: normal;
}

.address article {
	border-top: 1px solid #e7e7e7;
	padding: 30px 0 30px 50px;
	position: relative;
}

.address article:last-child {
	border-bottom: 1px solid #e7e7e7;
}

.address article i {
	font-size: 2.4rem;
	margin-right: 20px;
	position: absolute;
	top: 30px;
	left: 0;
}

.address article h5 {
	font-size: 1.4rem;
	color: #e84c3d;
	margin: 0 0 14px;
}

.address article span, .address article a {
	display: block;
	font-size: 1.4rem;
}

.address article a:hover {
	color: black;
}

.footer {
	background: #202628;
	height: 204px;
	margin-top: -204px;
}

.footer-information {
	float: left;
}

.footer__menu {
	padding-top: 80px;
}

.footer__menu a, .copyright a{
	font-size: 1.4rem;
	display: inline-block;
	position: relative;
}

.footer__menu a {
	color: #e7e7e7;
	margin-right: 40px;
}

.footer__menu a:hover, .copyright a:hover {
	color: #ff0000;
}

.footer__menu a:not(:first-child)::after {
	content: "/";
	color: #4e5456;
	position: absolute;
	left: -23px;
}

.copyright {
	padding-top: 20px;
}

.copyright a {
	color: #767c7e;
	margin-right: 10px;
}

.copyright a:first-child{
	color: #e84c3d;
}

.copyright a:first-child:hover{
	color: #bc1221;
}

.copyright a:not(:first-child)::after {
	content: "/";
	color: #767c7e;
	position: absolute;
	left: -7px;
}

.copyright a:nth-child(2)::after {
	color: #e84c3d;
}

.social-icons {
	padding-top: 80px;
	float: right;
}

.social-icons a {
	display: block;
	width: 45px;
	height: 45px;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
	background: #e84c3d;
	color: #e7e7e7;
	font-size: 2rem;
	line-height: 45px;
	position: relative;
}